section {
    width: 50%; 
    padding-top: 20px;  
    margin: auto;
}
#begin-page {
    text-align: center; 
}
ul {
    list-style-type: none;
}
#highscores-div {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    margin-left: 10px; 
}
#timer-div {
    position: absolute; 
    top: 0%; 
    right: 0%; 
    margin-right: 10px; 
}
.hidden {
    display: none; 
} 