/* element selectors */
body {
    background-color: #F4D58D;
    font-family: sans-serif; 
}
section {
    width: 50%; 
    padding-top: 20px;  
    margin: auto;
}
ul {
    list-style-type: none;
}
table {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
    border-collapse: collapse;
    margin-bottom: 10px; 
}
table th {
	border-width: 1px;
	padding: 5px 20px 5px 20px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 5px 20px 5px 20px;
	border-style: solid;
	border-color: #666666;
    background-color: #ffffff;

}

/* class selectors */
.hidden {
    display: none; 
} 
.btn {
    background-color: #708D81; 
    border: none;
    width: 100%; 
    margin-bottom: 10px;
}

/* id selectors */
#submit-scores, #start-over, #clear-scores {
    width: 35%; 
    margin-bottom: 10px; 
}
#begin-page {
    text-align: center; 
}
#highscores-div {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    margin-left: 10px; 
}
#timer-div {
    position: absolute; 
    top: 0%; 
    right: 0%; 
    margin-right: 10px; 
}
